<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modalstyle.css">
    <title>Home</title>
</head>
<body>
<div class="wrapper">
    <header th:insert="sections/header::header"></header>
    <main class="main">

        <div class="modal" id="modal">
            <div class="modal-content">
                <p class="close" id="close">&times;</p>
                <h2 class="article">Авторизація</h2>
                <form method="post" action="/" >
                        <input type="email" class="input"  id="mail" name="mail" aria-describedby="emailHelp" placeholder="Введіть email" required>
                        <input type="password" class="input"  id="password" name="password" placeholder="Введите пароль" required min="4">
                    <button type="submit" name="authorization" class="button">Ввійти</button>
                </form>

            </div>
        </div>

        <div class="modal" id="modal2">
            <div class="modal-content">
                <p class="close" id="close2">&times;</p>
                <h2 class="article">Реєстрація</h2>
                <form action="/" method="post" >
                    <table>
                        <tr>
                              <td>
                                  <label for="InputName">П.І.Б.</label>
                              </td>
                              <td>
                                  <input type="text" name="name" class="input" id="InputName" placeholder="Введіть ваше і`мя та прізвище" required min="4">
                          </td>
                       <tr>
                            <td>
                                <label for="DateOfBirth">Дата народження</label>
                            </td>
                            <td>
                                <input type="date" name="dateOfBirth" class="input" id="DateOfBirth" placeholder="Введіть вашу дату народження" required >
                            </td>
                      </tr>
                       <tr>
                           <td>
                               <label for="InputEmail2">Email адрес</label>
                           </td>
                           <td>
                               <input type="email" name="mail" class="input" id="InputEmail2" aria-describedby="emailHelp" placeholder="Введите email" required>
                           </td>
                       </tr>
                        <tr>
                            <td>
                                <label for="InputPassword2">Пароль</label>
                            </td>
                            <td>
                                <input type="password" name="password" class="input" id="InputPassword2" placeholder="Введіть пароль" required minlength="4">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="InputPassword2">Повторіть пароль</label>
                            </td>
                            <td>
                                <input type="password" name="password2" class="input" id="InputPassword3" placeholder="Введіть пароль" required minlength="4">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="InputCountry">Оберіть країну</label></td>
                            <td>
                                <select name="countryId" id="InputCountry" >
                                    <option th:each="country: ${countries}" th:value="${country.getId()}" th:text="${country.getName()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="InputCity">Оберіть місто</label></td>
                            <td>
                                <select name="cityId" id="InputCity" required>
                                    <option th:each="city: ${cities}" th:value="${city.getId()}" th:text="${city.getName()}" th:attr="country-id=${city.getCountry().getId()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="InputRole">Оберіть роль</label></td>
                            <td>
                                <select name="roleId" id="InputRole" required>
                                    <option th:each="role: ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                                </select>
                            </td>
                        </tr>

                    </table>
                    <button type="submit" name="registration" class="button">Зареєструватись</button>
                </form>
        </div>
        </div>

        <p class="text" id="text" th:text="${message}"></p>


</main>
    <footer th:insert="sections/footer::footer"></footer>
</div>
<script src="/script/main.js"></script>
</body>
</html>