<div th:fragment="headerUser" class="header">
    <div class="navigation">
        <div class="logo">Rental of Property</div>
        <div class="group-anchor">
            <ul class="ul">
                <li>
                    <a href="/user/about">Про нас</a>
                </li>
                <li>
                    <a href="/user/contacts">Контакти</a>
                </li>
                <li>
                    <a href="/user/offers">Оголошення</a>
                </li>
                <li>
                    <a href="/user">На головну</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="group-button">

        <a href="/user/personal">
            <button class="button">Персональні дані</button>
        </a>
        <th:block th:if="${user.role.name}=='орендодавець'">
            <a href="/user/myOffers">
                <button class="button" id="offers">Мої оголошення</button>
            </a>
        </th:block>


        <a href="/">
            <button class="button " id="exit">Вийти з аккаунту</button>
        </a>

    </div>


</div>