<div th:fragment="header" class="header">
    <div class="navigation">
        <div class="logo">Rental of Property</div>
        <div class="group-anchor">
            <ul class="ul">
                <li>
                    <a href="/about">Про нас</a>
                </li>
                <li>
                    <a href="/contacts">Контакти</a>
                </li>
                <li>
                    <a href="/offers">Оголошення</a>
                </li>
                <li>
                    <a href="/">На головну</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="group-button">
      <button class="button" id="registration">Реєстрація</button>
      <button class="button" id="authorization">Авторизація</button>
    </div>

</div>