<div th:fragment="headerAdmin" class="header">
    <div class="navigation">
        <div class="logo">Rental of Property</div>
        <div class="group-anchor">
            <ul class="ul">
                <li>
                    <a href="/admin/countries">Країни</a>
                </li>
                <li>
                    <a href="/admin/cities">Міста</a>
                </li>
                <li>
                    <a href="/admin/users">Користувачі</a>
                </li>
                <li>
                    <a href="/admin/advertisements">Оголошення</a>
                </li>
                <li>
                    <a href="/admin/orders">Ордера</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="group-button">
        <a href="/">
        <button class="button" id="registration">Повернутись на головну</button>
        </a>
    </div>


</div>